<h1>Passing <%= @passed_test.test.title %> test</h1>

<b>
  <%= @passed_test.current_question.body %>
</b>

<div class="progress-bar">
  <div class= "progress"></div>
</div>

<%= content_tag :div,
                  "#{@passed_test.current_question_position} / #{@passed_test.test.questions.count}",
                  class: 'progress-count',
                  data: { current: @passed_test.current_question_position, count: @passed_test.test.questions.count } %>

<%= form_with url: passed_test_path(@passed_test), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @passed_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist Question', gists_path(passed_test_id: @passed_test.id), method: :post %></p>
  <p><%= form.submit 'Next' %></p>
<% end %>