<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :image_url %><br>
    <%= form.text_field :image_url %>
  </p>

  <p>
    <%= form.label :rule %><br>
    <%= form.select :rule, Badge.rules.keys, prompt: true %>
  </p>

  <p>
    <%= form.label :rule_value %><br>
    <%= form.text_field :rule_value %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, rows: 5, cols: 50 %>
  </p>

  <p><%= form.submit %></p>
<% end %>
<%= link_to 'Back', admin_badges_path %>